@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Arapey:ital@0;1&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --firstColor: #F15A55;
    --secondColor: #0F0F0F;
    --thirdColor: #F6F6F6;
}

body {
    font-family: afacad, arial, sans-serif;
}

header {
    background-color: var(--firstColor);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

header img {
    height: 70px;
}

header div {
    display: flex;
    align-items:center;
    gap: 60px;
}

header ul {
    display: flex;
    gap: 60px;
    list-style: none;
    font-size: 1.5rem;
}

header li a {
    color: var(--thirdColor);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

header li a:hover {
    color: var(--secondColor)
}

header button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--thirdColor);
    font-family: afacad, arial, sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header button:hover{
    background-color: var(--secondColor);
    color: var(--thirdColor);
}