@charset "UTF-8";

/* Import da fonte Afacad */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Arapey:ital@0;1&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelhoPrincipal: #F15A55;
    --pretoPrincipal: #0F0F0F;
    --brancoPrincipal: #F6F6F6;
    --amareloDestaque: #FFAD28;
    --cinzaFooter: #868686;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: afacad, arial, sans-serif;
    overflow-y: hidden;
}

header {
    background-color: var(--vermelhoPrincipal);
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header div#container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
}

header img {
    height: 55px;
}

header div#container-header-nav {
    display: flex;
    align-items:center;
    gap: 60px;
}

header ul {
    display: flex;
    gap: 60px;
    list-style: none;
    font-size: 22px;
}

header li a {
    color: var(--brancoPrincipal);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

header li a:hover {
    /* fazer animação do sublinhado */
}

header button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--brancoPrincipal);
    color: var(--vermelhoPrincipal);
    font-family: afacad, arial, sans-serif;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

header button:hover{
    background-color: var(--pretoPrincipal);
    color: var(--brancoPrincipal);
}

header #menu-mobile, .menu {
    display: none;
}

main #main-section {
    display: flex;
    width: 110%;
    gap: 100px;
    padding: 10vw 0px 0px 8vw;
    font-size: 24px;
    z-index: 0;
    position: relative;
    overflow: visible;
}

main #main-section h1 {
    font-size: clamp(60px, 7.5vw, 200px);
    line-height: 110px;
    margin-bottom: 70px;
    flex-grow: 2;
}

main #main-section p {
    max-width: 700px;
    text-align: justify;
}

main #main-section p:first-of-type {
    margin-bottom: 20px;
}

main #main-section img {
    width: auto;
    max-height: 800px;
    height: 50vw;
    transform: translateY(50px) rotate(-10deg);
    transform-origin: center center;
    z-index: -1;
}

main #main-section button {
    border: none;
    padding: 10px 40px;
    margin: 50px 0 80px 0;
    border-radius: 10px;
    background-color: var(--vermelhoPrincipal);
    color: var(--brancoPrincipal);
    font-family: afacad, arial, sans-serif;
    font-size: 26px;
    font-weight: 100;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

main #main-section button:hover {
    background-color: var(--pretoPrincipal);
}

main #adoption-section {
    position: relative;
    display: flex;
    gap: 100px;
    width: 110%;
    margin-left: -10%;
    background-color: var(--vermelhoPrincipal);
    font-size: 24px;
    padding: 120px 300px 120px 0;
    z-index: 0;
}

main #adoption-section img {
    flex: 0 0 auto;
    align-self: center;
    width: 50%;
    height: 50%;
}

main #adoption-section div {
    margin-left: auto;
}

main #adoption-section h2 {
    font-size: 100px;
    line-height: 80px;
    color: var(--brancoPrincipal);
    margin-bottom: 50px;
    text-align: right;
}

main #adoption-section p {
    color: var(--brancoPrincipal);
    margin: 0 0 20px auto;
    text-align: justify;
    max-width: 800px;
}

main #adoption-section button {
    display: block;
    border: none;
    padding: 10px 40px;
    margin: 80px 30px 0 auto;
    border-radius: 10px;
    background-color: var(--brancoPrincipal);
    color: var(--pretoPrincipal);
    font-family: afacad, arial, sans-serif;
    font-size: 26px;
    font-weight: 100;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

main #adoption-section button:hover {
    background-color: var(--pretoPrincipal);
    color: var(--brancoPrincipal);
}

main #care-approach-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    padding: 120px 300px 200px 300px;
}

main #care-approach-section #cares-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}

main #care-approach-section h2 {
    font-size: 100px;
    text-align: center;
    line-height: 90px
}

main #care-approach-section .care-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

main #care-approach-section .care-card img {
    width: 250px;
}

main #care-approach-section .card-title {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    margin-top: 30px;
}

main #care-approach-section .card-description {
    text-align: center;
    margin-top: 20px;
    line-height: 28px;
    max-width: 300px;
}

main #care-approach-section > img {
    position: absolute;
    bottom: -25%;
    height: 400px;
    width: 950px;
    z-index: -1;
}

main #donation-section {
    display: flex;
    gap: 50px;
    width: 110%;
    position: relative;
    background-color: var(--vermelhoPrincipal);
    font-size: 24px;
    padding: 120px 0 160px 300px;
}

main #donation-section > div {
    flex: 3 1 0;
}

main #donation-section h2 {
    font-size: 100px;
    line-height: 90px;
    color: var(--brancoPrincipal);
}

main #donation-section p {
    color: var(--brancoPrincipal);
    text-align: justify;
    max-width: 700px;
    margin: 50px 0 0 0;
}

main #donation-section img {
    flex: 0 0 auto;
    align-self: center;
    width: 50%;
    height: 50%;
}

main #donation-section #donation-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
}

main #donation-section #donation-buttons-container .donation-buttons-container-line {
    display: flex;
    gap: 50px;
}

main #donation-section #donation-buttons-container button {
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    width: 250px;
    background-color: var(--brancoPrincipal);
    color: var(--pretoPrincipal);
    font-family: afacad, arial, sans-serif;
    font-size: 26px;
    font-weight: 100;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

main #donation-section #donation-buttons-container button:hover {
    background-color: var(--pretoPrincipal);
    color: var(--brancoPrincipal);
}

main #donation-section #donation-buttons-container #donation-button-generic {
    background-color: transparent;
    outline-color: var(--brancoPrincipal);
    outline-width: 2px;
    outline-style: solid;
    color: var(--brancoPrincipal);
    transition: outline-width 0.1s ease-in-out;
}

main #donation-section #donation-buttons-container #donation-button-generic:hover {
    background-color: var(--pretoPrincipal);
    color: var(--brancoPrincipal);
    outline-width: 0;
}

main #donation-section #donation-buttons-container .donation-button-most-chosen {
    position: relative;
}

main #donation-section #donation-buttons-container .donation-button-most-chosen::before {
    content: "mais escolhido!";
    position: absolute;
    top: -15px;
    right: -15px;
    background: var(--amareloDestaque);
    color: var(--pretoPrincipal);
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 6px;
    white-space: nowrap;
}

main #about-us-section {
    position: relative;
    display: flex;
    width: 108%;
    margin-left: -8%;
    gap: 100px;
    font-size: 24px;
    padding: 120px 300px 160px 0;
}

main #about-us-section img {
    max-width: 750px;
    min-width: 400px;
    width: 50%;
    height: 50%;
    align-self: center;
}

main #about-us-section > div {
    flex: 2 1 0;
}

main #about-us-section h2 {
    color: var(--vermelhoPrincipal);
    line-height: 90px;
    font-size: 100px;
    text-align: right;
    margin-bottom: 50px;
}

main #about-us-section p {
    max-width: 800px;
    text-align: justify;
    margin: 0 0 20px auto;
}

main #volunteer-section {
    position: relative;
    display: flex;
    gap: 100px;
    width: 110%;
    background-color: var(--vermelhoPrincipal);
    font-size: 24px;
    padding: 120px 0 160px 300px;
}

main #volunteer-section h2 {
    color: var(--brancoPrincipal);
    font-size: 100px;
    line-height: 90px;
    margin-bottom: 50px;
}

main #volunteer-section p {
    color: var(--brancoPrincipal);
    text-align: justify;
    max-width: 700px;
    margin: 0 0 20px 0;
}

main #volunteer-section button {
    border: none;
    padding: 10px 40px;
    margin: 80px 0 0 30px;
    border-radius: 10px;
    background-color: var(--brancoPrincipal);
    color: var(--pretoPrincipal);
    font-family: afacad, arial, sans-serif;
    font-size: 26px;
    font-weight: 100;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

main #volunteer-section button:hover {
    background-color: var(--pretoPrincipal);
    color: var(--brancoPrincipal);
}

main #volunteer-section img {
    align-self: center;
    max-width: 750px;
    min-width: 600px;
    width: 50%;
    height: 50%;
}

main #gallery-section {
    font-size: 24px;
    padding: 120px 300px 160px 300px;
}

main #gallery-section h2 {
    font-size: 100px;
    color: var(--vermelhoPrincipal);
    width: fit-content;
    margin: 0 auto;
}

main #gallery-section #photos-gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin-top: 70px;
}

main #gallery-section .gallery-photo {
    background-color: #101010;
    background-size: cover;
    border-radius: 10px;
    width: 375px;
    height: 550px;
}

main #gallery-photo1 {
    background-image: url("../assets/images/gallery-photo1.jpg");
}

main #gallery-photo2 {
    background-image: url("../assets/images/gallery-photo2.jpg");
}

main #gallery-photo3 {
    background-image: url("../assets/images/gallery-photo3.jpg");
}

main #donation-cta-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: var(--vermelhoPrincipal);
    padding: 60px 300px;
}

main #donation-cta-section span {
    font-size: 40px;
    font-weight: 900;
    color: var(--brancoPrincipal);
}

main #donation-cta-section button {
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: var(--brancoPrincipal);
    color: var(--pretoPrincipal);
    font-family: afacad, arial, sans-serif;
    font-size: 26px;
    font-weight: 100;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

main #donation-cta-section button:hover {
    background-color: var(--pretoPrincipal);
    color: var(--brancoPrincipal);
}

footer {
    background-color: var(--pretoPrincipal);
    padding: 80px 300px;
}

footer #footer-main-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

footer #footer-info {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

footer #footer-info img {
    flex: 0 0 auto;
    width: 190px;
}

footer #footer-info #contact-info {
    display: flex;
    flex-direction: column;
    color: var(--brancoPrincipal);
    font-size: 22px;
    gap: 10px;
}

footer #footer-info #contact-info div {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer #footer-info #contact-info img {
    width: 20px;
}

footer #footer-info #contact-info address {
    display: inline;
}

footer #footer-info #contact-info a {
    color: var(--brancoPrincipal);
    text-underline-offset: 6px;
}

footer #footer-info #contact-info a:hover {
    color: var(--vermelhoPrincipal);
}

footer #footer-links {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: end;
}

footer #footer-links span {
    display: block;
    font-size: 30px;
    font-weight: 900;
    text-align: right;
    color: var(--brancoPrincipal);
}

footer #footer-links ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 22px;
    margin-top: 10px;
}

footer #footer-links ul a {
    color: var(--brancoPrincipal);
    text-underline-offset: 5px;
}

footer #footer-links ul a:hover {
    color: var(--vermelhoPrincipal);
}

footer #footer-links #social-media-links {
    display: flex;
    gap: 20px;
    
}

footer #footer-links #social-media-links a {
    display: inline-flex;
    background-color: var(--brancoPrincipal);
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    width: 50px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-out;
}

footer #footer-links #social-media-links a:hover {
    background-color: var(--vermelhoPrincipal);
}

footer #footer-links #social-media-links a img {
    width: 30px;
}

footer #footer-credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    color: var(--cinzaFooter);
}

footer #footer-credits a {
    color: var(--cinzaFooter);
    text-underline-offset: 4px;
}

footer #footer-credits a:hover {
    color: var(--vermelhoPrincipal);
}

@media (width >= 1880px) {
  main #care-approach-section .care-card:first-of-type,
  main #care-approach-section .care-card:last-of-type {
    margin-top: 80px;
  }
}



/* ========= MEDIA QUERIES DE TELA ========= */


/* Media Query de dispositivos GRANDES */

@media (width > 1920px) {
    
}

/* Media Query de dispositivos MÉDIOS */

@media (width < 1300px) {
    main #main-section {
        width: 100%;
        flex-direction: column;
        gap: 0;
        padding: 180px 5vw 0 5vw;
    }

    main #main-section h1 {
        font-size: 100px;
        line-height: 90px;
    }

    main #main-section img {
        align-self: center;
        width: 600px;
        height: 500px;
        transform: translate(0) rotate(0);
    }

    main #adoption-section {
        padding: 100px 8vw 100px 0;
        margin-top: -150px;
    }

    main #adoption-section h2 {
        font-size: 70px;
    }

    main #care-approach-section {
        padding: 100px 8vw 100px 8vw;
    }

    main #care-approach-section h2 {
        font-size: 70px;
    }

    main #care-approach-section #cares-container {
        margin-top: 50px;
    }

    main #care-approach-section .care-card {
        margin-top: 30px;
    }

    main #care-approach-section .care-card:first-of-type, main #care-approach-section .care-card:last-of-type {
        margin-top: 30px;
    }

    main #care-approach-section > img {
        display: none;
    }

    main #donation-section {
        padding: 100px 0 100px 8vw;
    }

    main #donation-section h2 {
        font-size: 70px;
        line-height: 70px
    }

    main #about-us-section {
        padding: 100px 8vw 100px 0;
    }

    main #about-us-section h2 {
        font-size: 70px;
        line-height: 70px
    }

    main #volunteer-section {
        padding: 100px 0 100px 8vw;
    }

    main #volunteer-section h2 {
        font-size: 70px;
        line-height: 70px
    }

    main #gallery-section {
        padding: 100px 8vw 100px 8vw;
    }

    main #gallery-section h2 {
        font-size: 70px;
        line-height: 70px;
    }

    main #gallery-section .gallery-photo {
        height: 350px;
    }

    main #gallery-photo2 {
        background-position: 50% -80px;
    }

    main #gallery-photo3 {
        background-position: 50% -100px;
    }

    main #donation-cta-section {
        padding: 60px 8vw;
    }

    footer {
        padding: 80px 8vw;
    }
}

/* Media Query de dispositivos PEQUENOS (mobile) */

@media (width < 800px) {
    header {
        padding: 15px 5vw;
    }

    header #container-header-nav nav, header #container-header-nav button {
        display: none;
    }

    header #menu-mobile {
        display: flex;
        align-items: center;
    }

    header #menu-icon-mobile {
        width: 30px;
        height: auto;
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 1;
    }

    .menu {
        display: block;
        position: fixed;
        top: 90px;
        right: -220px;
        width: 220px;
        height: 100%;
        background-color: var(--vermelhoPrincipal);
        color: var(--brancoPrincipal);
        transition: right 0.3s cubic-bezier(.63,-0.01,.09,1);
        z-index: 3;
        padding: 10px 0 0 20px;
    }

    .menu nav ul {
        list-style: none;
    }

    .menu ul li {
       margin-top: 20px;
    }

    .menu ul li a {
        font-size: 25px;
        text-decoration: none;
        color: var(--brancoPrincipal);
    }

    .menu button {
        border: none;
        border-radius: 10px;
        font-family: afacad, arial, sans-serif;
        font-size: 20px;
        padding: 10px 20px;
        margin-top: 40px;
        transition: background-color 0.1s ease-in-out;
        cursor: pointer;
    }

    .menu button:hover {
        background-color: var(--pretoPrincipal);
        color: var(--brancoPrincipal);
    }

    #menu-toggle:checked ~ .menu {
        right: 0;
    }   

    #menu-toggle:checked ~ .menu-overlay {
        opacity: 1;
        pointer-events: auto;
    }

    main #main-section h1 {
        font-size: 60px;
        line-height: 60px;
        width: 100%;
        text-align: center;
    }

    main #main-section p {
        width: 100%;
    }

    main #main-section button {
        display: block;
        margin: 50px auto 80px auto;
    }

    main #main-section img {
        margin-top: 50px;
        width: 400px;
        height: 330px;
        transform: translateY(-50px) rotate(0);
    }

    main #adoption-section {
        width: 100%;
        margin-left: 0;
        padding-left: 5vw;
        padding-right: 5vw;
        flex-direction: column-reverse;
    }

    main #adoption-section h2 {
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }

    main #adoption-section button {
        margin-left: auto;
        margin-right: auto;
    }

    main #adoption-section img {
        width: 400px;
    }

    main #care-approach-section h2 {
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }

    main #donation-section {
        flex-direction: column;
        width: 100%;
        padding-right: 5vw;
        padding-left: 5vw;
    }

    main #donation-section h2 {
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }

    main #donation-section #donation-buttons-container {
        gap: 25px;
        margin-top: 60px;
    }

    main #donation-section #donation-buttons-container button {
        padding: 10px;
        font-size: 20px;
    }

    main #donation-section img {
        width: 400px;
    }

    main #about-us-section {
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 0;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    main #about-us-section h2 {
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }

    main #about-us-section img {
        width: 400px;
    }

    main #volunteer-section {
        flex-direction: column;
        width: 100%;
        padding-right: 5vw;
        padding-left: 5vw;
    }

    main #volunteer-section h2 {
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }

    main #volunteer-section button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main #volunteer-section img {
        width: 400px;
        min-width: 400px;
    }

    main #donation-cta-section {
        flex-direction: column;
    }

    main #donation-cta-section span {
        text-align: center;
    }

    main #donation-cta-section button {
        width: 200px;
        margin: 0 auto;
    }

    footer #footer-main-content {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    footer #footer-info {
        align-items: center;
    }

    footer #contact-info {
        align-items: center;
    }

    footer #footer-links {
        align-items: center;
    }

    footer #section-links span {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    footer #section-links ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    footer #footer-credits {
        flex-direction: column;
        gap: 30px;
    }
}